body{
    height: 100vh;
    background-image: url('/public/img/pelota-tenis.jpg'); /* Reemplaza "ruta-de-tu-imagen.jpg" con la ruta de tu imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el div */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    background: #2c3338;
    border-radius: 9px;
    border-top: 10px solid #0c787d;
    border-bottom: 10px solid #0c787d;
    width: 400px;
    height: 500px;
    margin-bottom: 45px;
  }
  
  .box h4 {
    font-family: "Source Sans Pro", sans-serif;
    color:#1a8b91;
    font-size: 32px;
    margin-top: 65px;
  }
  
  .box h4 span {
    color: #dfdeee;
    font-weight: lighter;
  }
  
  .box h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    color: #a1a4ad;
    letter-spacing: 1.5px;
    margin-top: -20px;
    margin-bottom: 60px;
  }
  
  .box input[type="text"],
  .box input[type="password"] {
    display: block;
    margin: 20px auto;
    background-color: #3b4148;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    outline: 0;
    color: #a9a9a9;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  ::-webkit-input-placeholder {
    color: #565f79;
  }
  
  .box input[type="text"]:focus,
  .box input[type="password"]:focus {
    border: 1px solid #79a6fe;
  }
  
  a {
    color:#129aa1;
    text-decoration: none;
  }
  .btn1 {
    border: 0;
    background: #0c787d;
    color: #dfdeee;
    border-radius: 7px;
    width: 340px;
    height: 49px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .btn1:hover {
    background: #129aa1;
  }
  
  .forgetpass {
    position: relative;
    float: right;
    right: 28px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000ce;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
  }
  
  #mostrarPass{
    margin-right: 30px;
  }
  
  .password-input {
    position: relative;
  }
  
  .password-toggle-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .password-toggle-btn i {
    font-size: 17px;
  }